$maincolor: #000000;
$secondColor: #004173;
$accentcolor: #1B75BB;
$secondAccentcolor: #FFED02;
$additionalcolor: #ffffff;
$findcolor: #05E200;
$familycolor: #FF0000;
$bordercolor: #C4C4C4;
// $transitionanim: cubic-bezier(0.34, 0.04, 0.37, 0.73);
// $transitionduration: 250ms;
// $shadowcolor: rgba(0, 0, 0, 0.56);