@import '../../styles/variables';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.nav_list {
    display: flex;

}

.nav_item {
    font-family: 'Montserrat';
    font-size: 18px;
    line-height: 1.22;   
    
    color: $maincolor;
    cursor: pointer;

    &:hover,
    &:focus {
        color: $accentcolor;
    }
    &:not(:last-child) {
        margin-right: 40px;
}
}
